<!doctype html>
<html lang="en">
  <head>
    {% render "head", metadata: site.metadata, title: page.title %}
  </head>
  <body class="container mx-auto px-4">
    <div class="flex flex-col min-h-screen">
      {% render "navbar", metadata: site.metadata, page: page %}
      <main class="flex-1">
          {{ content }}
      </main>
      {% render "footer", metadata: site.metadata %}
    </div>
    {% render "scripts" %}
  </body>
</html>
