---
layout: default
title: Home Page
---

<section class="py-12 mx-auto">
  <h1 class="text-6xl text-center mb-8 font-semibold font-heading font-semibold">
    {{ page.title }}
  </h1>
  <article class="prose md:prose-lg lg:prose-xl">
    {{ content }}
  </article>
</section>
